*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: proxima-nova; */
}

/*********************************************************************************************/
/********************************************INICIO NAV***************************************/
/*********************************************************************************************/
.navbar{ /*Estilos del nav*/
    background: #fff159 !important; /*Color del nav*/
    position: static; /*Posicion estatica para que el despligue de "Collapse" arranque debajo del nav*/
    border-bottom: 1px solid #E5D850 !important;
}
/*********************************************************************************************/
/********************************************FIN NAV******************************************/
/*********************************************************************************************/

.form-control:focus{
    box-shadow: none;
    border-color: none;
}